<div class="box">
  <h2 class="header">
    <span class="mask-span">
      <span class="word" style="--order: 0">Snap!</span>
    </span>
  </h2>
  <div *ngIf="status == 500">
    <p class="text float-up" style="--order: 3">There was a server error. You could try again later.</p>
  </div>
  <div *ngIf="status == 404">
    <p class="text float-up" style="--order: 3">What you're looking for doesn't exist. Make sure the link you put is was correct, or check back later.</p>
  </div>
  <div *ngIf="status != 500 && status != 404">
    <p class="text float-up" style="--order: 3">Something went wrong.</p>
  </div>
</div>
