@font-face {
  font-family: 'GT Haptik';
  font-weight: 700;
  src: url('https://res.cloudinary.com/vuluongj20/raw/upload/v1590812076/fonts/GTHaptik-Bold_sine2b.woff2') format('woff2'),
    url('https://res.cloudinary.com/vuluongj20/raw/upload/v1590812076/fonts/GTHaptik-Bold_zxnq2f.woff') format('woff');
}
@font-face {
  font-family: 'GT Haptik';
  font-weight: 400;
  src: url('https://res.cloudinary.com/vuluongj20/raw/upload/v1589741562/fonts/GTHaptik-Regular_nkaujo.woff2') format('woff2'),
    url('https://res.cloudinary.com/vuluongj20/raw/upload/v1589741563/fonts/GTHaptik-Regular_lt4gdn.woff') format('woff');
}
* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  --background: #FFFFFF;
  --dark: #333333;
  --inverted-dark: #FFFFFF;
  --normal: #555555;
  --light: #999999;
  --line: #DDDDDD;
  --blue: #B3C5E6;
  --red: #E5BBB3;
  --green: #B3E5D3;
  --yellow: #E5D5B3;
  --dark-blue: #8767CB;
  --dark-green: #67CBA6;
  --dark-yellow: #CBAB67;
  --hover: #CC9E33;

}

/* Text */
p, a {
  font-family: 'GT Haptik', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
p {
  color: var(--normal);
}
a {
  color: var(--light);
  text-decoration: underline;
  transition: color 160ms;
}
h1 {
  font-family: 'GT Haptik', 'Arial', sans-serif;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.4em;
}
h1 {
  font-size: 4.68em;
  margin-bottom: 0;
}

/*  */
/* ETC */
/*  */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bold {
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.4em;
}
.float-up {
  opacity: 0;
  transform: translate3d(0, 1.8em, 0);
  backface-visibility: hidden;
  will-change: transform, opacity;
  animation: fade-in 0.6s calc(400ms + var(--order)*80ms) cubic-bezier(0, 0.55, 0.45, 1) forwards,
  float-up 0.6s calc(400ms + var(--order)*80ms) cubic-bezier(0, 0.55, 0.45, 1) forwards;
}
@keyframes float-up {
  from {
    transform: translate3d(0, 1.8em, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button {
  display: inline-block;
  -webkit-appearance: none;
  position: relative;
  padding: 0.4em 1.6em;
  margin: 0.8em 0;
  border-radius: 0.4em;
  background-color: var(--dark);
  color: var(--inverted-dark);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 160ms ease;
}
.button:hover {
  background-color: var(--hover);
}


/*  */
/* MAIN CONTENT */
/*  */
.content-wrap {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  text-align: center;
  margin-bottom: 0.4em;
}
.mask-span {
  display: inline-block;
  overflow: hidden;
}
.word {
  white-space: pre;
  display: inline-block;
  transform: translate3d(0, 1.8em, 0);
  backface-visibility: hidden;
  will-change: transform;
  animation: float-up 1.2s calc(160ms + var(--order)*80ms) cubic-bezier(0.85, 0, 0.15, 1) forwards;
}
.section {
  width: 100%;
  max-width: 32em;
  margin-bottom: 1.2em;
}
p>span {
  word-wrap: break-word;
}
#token-header {
  color: var(--dark-blue);
}
#token-payload {
  color: var(--dark-yellow);
}
#token-signature {
  color: var(--dark-green);
}


/*  */
/* SHAPES WRAP */
/*  */
.shapes-wrap.top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
  height: 30vw;
  overflow: hidden;
}
.shapes-wrap.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 15vw;
  overflow: hidden;
}
.circle {
  border-radius: 50%;
}
.blue {
  background-color: var(--blue);
}
.red {
  background-color: var(--red);
}
.yellow {
  background-color: var(--yellow);
}
.green {
  background-color: var(--green);
}
.shapes-wrap>* {
  width: 15vw;
  max-width: 30vh;
  position: absolute;
  backface-visibility: hidden;
  will-change: transform;
}
.shapes-wrap.top-left>* {
  top: 0;
  left: 0;
}
.shapes-wrap.bottom-right>* {
  bottom: 0;
  right: 0;
}
.shapes-wrap>*:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.shapes-wrap>*.double {
  width: 30vw;
  max-width: 60vh;
}
.quadrant {
  overflow: hidden;
}
.quadrant-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  will-change: transform;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  animation: quadrant-mask 1.6s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}
.quadrant-circle {
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
}
@keyframes quadrant-mask {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* 1. Blue circle */
.bc {
  transform: translate3d(-50%, -50%, 0) scale(0);
  animation: bc-in 1.6s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}
@keyframes bc-in {
  from {
    transform: translate3d(-50%, -50%, 0) scale(0);
  }
  to {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

/* 2. Green circle */
.gc {
  transform: translate3d(100%, -50%, 0) scale(0);
  animation: gc-in 1.6s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}
@keyframes gc-in {
  from {
    transform: translate3d(100%, -50%, 0) scale(0);
  }
  to {
    transform: translate3d(100%, -50%, 0) scale(1);
  }
}

/* 3. Yellow quadrant */
.yq {
  transform: translate3d(-100%, 0, 0) rotate(-90deg);
}

/* 4. Red quadrant */
.rq {
  transform: rotate(90deg);
}

@media only screen and (min-width: 1401px) {
  h1 {
    font-size: 5.2em;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 4.2em;
  }
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 2.4em;
  }
  .content-wrap {
    width: 85%;
    max-width: 32em;
    align-items: flex-start;
  }
  .shapes-wrap>* {
    width: 25vw;
  }
  .shapes-wrap>*.double {
    width: 50vw;
  }
}
