:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2.4em;
}
.forgot-link {
  display: inline-block;
  font-size: 0.9em;
}
.outer-link-wrap.bottom {
  top: auto;
  bottom: 1.2em;
  left: 50%;
  transform: translateX(-50%);
}
