@font-face {
  font-family: 'GT Haptik';
  font-weight: '700';
  src: url('assets/GTHaptik-Bold.woff2') format('woff2'),
    url('assets/GTHaptik-Bold.woff') format('woff');
}
@font-face {
  font-family: 'GT Haptik';
  font-weight: '400';
  src: url('assets/GTHaptik-Regular.woff2') format('woff2'),
    url('assets/GTHaptik-Regular.woff') format('woff');
}
* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  --background: #FFFFFF;
  --background-opaque: rgba(255, 255, 255, 0.95);
  --dark: #333333;
  --inverted-dark: #FFFFFF;
  --normal: #555555;
  --light: #999999;
  --line: #DDDDDD;
  --line-opaque: rgba(50, 50, 50, 0.1);
  --blue: #9FB6DF;
  --red: #DEAAA0;
  --green: #A0DEC8;
  --yellow: #DECBA0;
  --focus: #DBBB70;
  --hover: #DDAC3C;
  --error: #E06952;
}

/* Text */
p, a, textarea, label, button, input {
  font-family: 'GT Haptik', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
p, textarea, label {
  color: var(--normal);
}
p.red {
  color: var(--error);
}
a {
  color: var(--light);
  text-decoration: underline;
  transition: color 160ms;
}
a:hover {
  color: var(--normal);
}
h1, h2 {
  font-family: 'GT Haptik', 'Arial', sans-serif;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.4em;
}
h1 {
  font-size: 4.68em;
  margin-bottom: 0;
}
h2 {
  font-size: 2.8em;
  margin-bottom: 0.2em;
}


/* Form */
input {
  -webkit-appearance: none;
  width: 14em;
  display: block;
  font-size: 1em;
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  margin: 1em auto;
  border: 2px solid var(--dark);
}
input:focus {
  outline: none;
  border: 2px solid var(--focus);
  box-shadow: 0 0 0 1px var(--focus);
}
input.red {
  border-color: var(--error);
}
input.red:focus {
  outline: 0;
  box-shadow: 0 0 0 1px var(--error);
}
button {
  -webkit-appearance: none;
  position: relative;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  background-color: var(--dark);
  color: var(--inverted-dark);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  transition: background-color 160ms ease;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: var(--hover);
}
button.loading:hover {
  text-decoration: none;
  border-color: transparent;
  color: transparent;
}


/* Etc */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Loader */
.loader-circle {
  box-sizing: border-box;
  stroke: var(--inverted-dark);
  stroke-width: 1.4px;
  r: calc(0.5em - 2.8px);
  transform: translate(0.6em, 0.6em) rotate(-90deg);
  fill: none;
  stroke-dasharray: 75.3984;
  stroke-dashoffset: 150.7968;
  animation: loader 2.4s cubic-bezier(0.645, 0.045, 0.355, 1) infinite,
    rotate 2s linear infinite;
}
@keyframes loader {
  0% {
    stroke-dasharray: 75.3984;
    stroke-dashoffset: 226.1952;
  }
  32% {
    stroke-dasharray: 56.5488;
    stroke-dashoffset: 150.7968;
  }
  100% {
    stroke-dasharray: 75.3984;
    stroke-dashoffset: 75.3984;
  }
}
@keyframes rotate {
  0% {
    transform: translate(0.6em, 0.6em) rotate(-120deg);
  }
  100% {
    transform: translate(0.6em, 0.6em) rotate(240deg);
  }
}
button.loading {
  color: transparent;
  border-color: transparent;
}

.box {
  padding-bottom: 1.2em;
}
.header {
  width: 100%;
  text-align: center;
}
.mask-span {
  display: inline-block;
  overflow: hidden;
}
.word {
  white-space: pre;
  display: inline-block;
  transform: translate3d(0, 1.8em, 0);
  backface-visibility: hidden;
  will-change: transform;
  animation: float-up 1.2s calc(280ms + var(--order)*80ms) cubic-bezier(0.85, 0, 0.15, 1) forwards;
}
.message {
  max-width: 16em;
  margin: 0 auto 1.2em;
}
.text {
  max-width: 16em;
  margin: 0 auto 0.8em;
}
.confirm-button {
  margin-top: 0.8em;
}
.outer-link-wrap {
  position: absolute;
  top: 1.2em;
  left: 1.6em;
  font-size: 0.9em;
}
.outer-link-wrap>a,
.outer-link-wrap>p {
  display: inline-block;
  white-space: pre;
  font-size: 1em;
}
.outer-link-wrap:not(.bottom)>a {
  text-decoration: none;
}
.back-arrow {
  height: 0.75em;
}
.back-arrow path {
  stroke: var(--light);
  transition: 160ms;
}
.outer-link-wrap>a:hover>.back-arrow path {
  stroke: var(--normal);
}
.float-up {
  opacity: 0;
  transform: translate3d(0, 1.8em, 0);
  backface-visibility: hidden;
  will-change: transform, opacity;
  animation: fade-in 0.6s calc(540ms + var(--order)*80ms) cubic-bezier(0, 0.55, 0.45, 1) forwards,
  float-up 0.6s calc(540ms + var(--order)*80ms) cubic-bezier(0, 0.55, 0.45, 1) forwards;
}
@keyframes float-up {
  from {
    transform: translate3d(0, 1.8em, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@media only screen and (min-width: 1401px) {
  h1 {
    font-size: 5.2em;
  }
  h2 {
    font-size: 2.8em;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 4.2em;
  }
  h2 {
    font-size: 2.8em;
  }
  .outer-link-wrap {
    position: absolute;
    top: 1.2em;
    left: 1.6em;
  }
  .box:not(.link-bottom) {
    padding-top: 1.2em;
    padding-bottom: 0;
  }
  .box.link-bottom {
    padding-top: 0;
    padding-bottom: 4em;
  }
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .outer-link-wrap {
    font-size: 0.9em;
  }
}
